@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body,
input {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: rgb(0, 47, 35);
  background: linear-gradient(90deg, rgba(0, 47, 35, 1) 0%, rgba(0, 71, 54, 1) 20%, rgba(0, 71, 54, 1) 80%, rgba(0, 47, 35, 1) 100%);
}